* {
    box-sizing: border-box;
}
nav {
    text-align: center; 
}
body{
    background-color: #FBFAF5;
    padding: 0;
    margin: 0;
}
h4{
    margin: 10px 0 10px 0;
}

#question-container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: "5px";
    padding: "10px";
    box-shadow: 0 0 10px 2px;
   
}

#question {
 display:flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;
 margin-left: 10px;
}

#start-button{
    font-size: 1.5rem;
    font-weight: bold;

}
#next-button {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    left:350px;
}
.container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100vw;
 height: 100vh;

}

.button-grid {
    display: grid;
    gap: 10px;
    margin: 20px 30px;
} 

.btn {
    border-radius: 5px;
    padding: 5px, 10px;
    background-color: purple;
    color: whitesmoke;
    width: 150px;
    height: 50px;
}
.btn:hover {
    background-color: black;
}

.control{
display: flex;
justify-content: center;
align-items: center;
}
.hide {
    display:none;
}
.start-text{
  text-align: center;
    
}

